body{
  font-family: "DejaVu Sans", helvetica; 
}

.grid{
  display : grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows : 1fr;
	grid-Auto-Columns : 1fr;
	row-gap : 0;
	column-gap:  0;
  height: 80vh;
  width: 80vh;
  min-height: 200px;
  min-width: 200px;
}

.pixel{
  height: 8vh;
  width: 8vh;
  text-align: center;
  min-height: 20px;
  min-width: 20px;
}
.number, .letter{
   border: solid black 1px;
  box-sizing: border-box;
  padding: 2.3vh 0 2.3vh 0;
  font-size: 3vh
}

.square{
  border: none;
}
img.piece{
  height: 92%;
}

@media (height < 250px) {
  .number, .letter{
  padding: 5.75px 0 5.75px 0;
  font-size: 7.5px
}
}